body {
	position: relative;
	margin: 0;
}

#foundation, #settingfoundation, #cannotuseie {
	position: absolute;
	width: 600px;
	height: 800px;
	background-color: #77f;
	transform-origin: left top;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#foundation {
	z-index: 1;
}

#foundation input[type="button"] {
	position: absolute;
	white-space: normal;
	width: 150px;
	height: 100px;
	background-color: #aaa;
	font-size: 40px;
}

#setting {
	left: 0px;
	top: 0px;
}

#random {
	left: 150px;
	top: 0px;
}

#reset {
	left: 300px;
	top: 0px;
}

#full {
	left: 450px;
	top: 0px;
}

#stopwatch, #complete {
	position: absolute;
	height: 100px;
	line-height: 50px;
	font-size: 40px;
}

#stopwatch {
	left: 80px;
	top: 130px;
	width: 200px;
}

#complete {
	left: 400px;
	top: 130px;
	width: 180px;
}

#puzzlediv {
	position: absolute;
	left: 0px;
	top: 200px;
	width: 600px;
	height: 600px;
}

#refpreview, #preview, #refpiece {
	position: absolute;
	width: 600px;
	height: 600px;
	opacity: 1;
	z-index: 1;
}

#main {
	position: absolute;
	width: 600px;
	height: 600px;
	z-index: 2;
	background-color: #aaa;
}

#main svg {
	position: absolute;
}

#settingfoundation {
	z-index: 0;
}

#settingfoundation .addsub {
	position: absolute;
	width: 50px;
	height: 80px;
	background-color: #aaa;
	font-size: 40px;
}

#settingfoundation .determinecancel {
	position: absolute;
	width: 200px;
	height: 80px;
	background-color: #aaa;
	font-size: 40px;
}

#spanlanguage, #spanlen, #spandelay, #spansoundeffect, #spanmod, #spanhostimage, #spannetimage {
	position: absolute;
	text-align: right;
	width: 250px;
	height: 80px;
	line-height: 100px;
	font-size: 40px;
}

#nowlen, #nowdelay {
	position: absolute;
	width: 250px;
	height: 80px;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
}

#spanlanguage {
	left: 0px;
	top: 0px;
}

#nowlanguage {
	position: absolute;
	left: 250px;
	top: 0px;
	width: 350px;
	height: 80px;
	font-size: 40px;
}

#spanlen {
	left: 0px;
	top: 80px;
}

#subsize {
	left: 250px;
	top: 80px;
}

#nowlen {
	left: 300px;
	top: 80px;
}

#addsize {
	left: 550px;
	top: 80px;
}

#spandelay {
	left: 0px;
	top: 160px;
}

#subdelay {
	left: 250px;
	top: 160px;
}

#nowdelay {
	left: 300px;
	top: 160px;
}

#adddelay {
	left: 550px;
	top: 160px;
}

#spansoundeffect {
	left: 0px;
	top: 240px;
}

#nowsoundeffect {
	position: absolute;
	left: 280px;
	top: 270px;
	transform: scale(6, 6);
}

#spanmod {
	left: 0px;
	top: 320px;
}

#nowmod {
	position: absolute;
	left: 250px;
	top: 320px;
	width: 350px;
	height: 80px;
	font-size: 40px;
}

#spanhostimage {
	left: 0px;
	top: 400px;
	width: 600px;
	z-index: 1;
}

#spannetimage {
	left: 0px;
	top: 400px;
	opacity: 0;
	z-index: 0;
}

#hostfile {
	position: absolute;
	left: 50px;
	top: 400px;
	width: 500px;
	height: 80px;
	font-size: 40px;
	opacity: 0;
	z-index: 0;
}

#netfile {
	position: absolute;
	left: 250px;
	top: 400px;
	width: 340px;
	height: 80px;
	font-size: 40px;
	opacity: 0;
	z-index: 0;
}

#author, #provider {
	position: absolute;
	text-align: right;
	width: 550px;
	height: 80px;
	line-height: 100px;
	font-size: 40px;
}

#author {
	left: 0px;
	top: 580px;
}

#provider {
	left: 0px;
	top: 640px;
}

#determine {
	left: 200px;
	top: 720px;
}

#cancel {
	left: 400px;
	top: 720px;
}

#cannotuseie {
	text-align: center;
	font-size: 80px;
	z-index: 2;
}