body {
	position: relative;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

#foundation, #settingfoundation {
	position: absolute;
	width: 600px;
	height: 800px;
	background-color: #77f;
	transform-origin: left top;
}

#foundation {
	z-index: 1;
}

#foundation input[type="button"] {
	position: absolute;
	white-space: normal;
	width: 150px;
	height: 100px;
	background-color: #aaa;
	font-size: 40px;
}

#setting {
	left: 0px;
	top: 0px;
}

#random {
	left: 150px;
	top: 0px;
}

#reset {
	left: 300px;
	top: 0px;
}

#full {
	left: 450px;
	top: 0px;
}

#stopwatch, #complete {
	position: absolute;
	height: 100px;
	line-height: 50px;
	font-size: 40px;
	user-select: none;
}

#stopwatch {
	left: 80px;
	top: 130px;
	width: 200px;
}

#complete {
	left: 400px;
	top: 130px;
	width: 180px;
}

#puzzlediv {
	position: absolute;
	left: 0px;
	top: 200px;
	width: 600px;
	height: 600px;
}

#allpreview {
	position: absolute;
	width: 600px;
	height: 600px;
	opacity: 1;
	z-index: 1;
	background-color: #fff;
	user-select: none;
}

#preview {
	position: absolute;
}

#main {
	position: absolute;
	width: 600px;
	height: 600px;
	z-index: 2;
	background-color: #aaa;
	user-select: none;
}

#main div {
	position: absolute;
	background-color: #fff;
	overflow: hidden;
}

#main div img {
	position: absolute;
	width: 600px;
	height: 600px;
}

#main div span {
	position: absolute;
	left: -2px;
	top: -2px;
	border-width: 4px;
	border-style: solid;
}

#settingfoundation {
	z-index: 0;
}

#settingfoundation .addsub {
	position: absolute;
	width: 50px;
	height: 100px;
	background-color: #aaa;
	font-size: 40px;
}

#settingfoundation .determinecancel {
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: #aaa;
	font-size: 40px;
}

#setlanguage, #setsize, #setdelaytime, #settype, #spantype, #spannetfile {
	position: absolute;
	text-align: right;
	width: 250px;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
	user-select: none;
}

#nowsize, #nowdelay {
	position: absolute;
	width: 250px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
	user-select: none;
}

#setlanguage {
	left: 0px;
	top: 50px;
}

#nowlanguage {
	position: absolute;
	left: 250px;
	top: 50px;
	width: 350px;
	height: 100px;
	font-size: 40px;
}

#setsize {
	left: 0px;
	top: 150px;
}

#subsize {
	left: 250px;
	top: 150px;
}

#nowsize {
	left: 300px;
	top: 150px;
}

#addsize {
	left: 550px;
	top: 150px;
}

#setdelaytime {
	left: 0px;
	top: 250px;
}

#subdelay {
	left: 250px;
	top: 250px;
}

#nowdelay {
	left: 300px;
	top: 250px;
}

#adddelay {
	left: 550px;
	top: 250px;
}

#settype {
	left: 0px;
	top: 350px;
}

#nowtype {
	position: absolute;
	left: 250px;
	top: 350px;
	width: 350px;
	height: 100px;
	font-size: 40px;
}

#spantype {
	left: 0px;
	top: 450px;
	width: 600px;
	z-index: 1;
}

#spannetfile {
	left: 0px;
	top: 450px;
	opacity: 0;
	z-index: 0;
}

#filein {
	position: absolute;
	left: 50px;
	top: 450px;
	width: 500px;
	height: 100px;
	font-size: 40px;
	opacity: 0;
	z-index: 0;
}

#netfile {
	position: absolute;
	left: 250px;
	top: 450px;
	width: 340px;
	height: 100px;
	font-size: 40px;
	opacity: 0;
	z-index: 0;
}

#setdetermine {
	left: 200px;
	top: 600px;
}

#setcancel {
	left: 400px;
	top: 600px;
}